.header-logo {
  margin: 0;
  color: white;
}

header {
  background-color: black;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  color: var(--color-light);
}
h4 {
  color: white;
}
