.register-container {
  background-color: var(--color-dark2);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  box-shadow: var(--shadow);
}

.register-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 15px;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.input-wrapper input {
  width: 100%;
  padding: 0.7rem;
  border-radius: 4px;
  border: 1px solid var(--borders);
  background-color: var(--color-background);
}

.btn-register {
  width: 100%;
  padding: 0.7rem;
  border-radius: 4px;
  background-color: var(--app-green);
  color: var(--color-light);
  border: none;
  cursor: pointer;
}

.btn-register:hover {
  opacity: 0.8;
}
.button-text {
  width: auto;
  height: auto;
}
